.login-container {
    background-image: url(https://images.pexels.com/photos/1629236/pexels-photo-1629236.jpeg?auto=compress&cs=tinysrgb&h=750&w=1260);
    background-attachment: fixed;
    background-repeat: no-repeat;
    background-size: cover;
    height: 100vh;
    padding: 15%;
}

.login-box {
    opacity: 0.9;
}

.email-login {
    background: rgba(184, 158, 158, 0.111);
    border-radius: 25px;
}

.alart-email {
    display: none;
    margin: 0;
    padding: 5px;
    background-color: rgba(163, 58, 34, 0.857);
    font-weight: bold;
    color: rgb(255, 255, 255);
    border-radius: 10px;
}

.email-login:hover .alart-email {
    display: block;
}
