.bannerBackground {
    background-image: url(https://images.unsplash.com/photo-1581078426770-6d336e5de7bf?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxzZWFyY2h8MTd8fGVkdWNhdGlvbnxlbnwwfHwwfHw%3D&auto=format&fit=crop&w=400&q=60);
    width: 100%;
    background-position:center;
    background-repeat: no-repeat;
    background-size: cover;
    height: 100%;
}
