.margin-box {
    background-color: rgb(44, 44, 89);
}

.bannerBackground {
    background-image: url(https://media.istockphoto.com/photos/cute-boy-with-yellow-skateboard-picture-id1133562844?k=20&m=1133562844&s=612x612&w=0&h=U32gR_E_DqkCJb0vibIHvmvICPgF6sgGTMjfW35PztM=);
    background-position: left center;
    background-repeat: no-repeat;
    background-size: cover;
    margin-left: -20%;
}
.blurbg {
    background-color: rgba(56, 89, 73, 0.789);
}
.banner-title {
    color: rgb(255, 255, 255);
    filter: contrast(1) brightness(1.5);
}

.img-box {
    opacity: 0.95;
    /* border-radius: 20px; */
    padding-right: -45%;
    margin-right: -40%;
}
.img-box img {
    border-radius: 15px;
    /* padding: 3rem; */
}
