.event-bg {
    background-image: url(https://wallpaperaccess.com/full/1525675.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    height: 100vh;
}
