.background-style{
    transition: .7s;
}

.background-style:hover{
    background-color: rgb(50, 40, 75);
    color: cornflowerblue;
    border-radius: 10px;
    box-shadow: 30px 15px 40px rgb(72, 72, 72);

}